.sp/
__pycache__/
/classificator/__pycache__/
/freechat/__pycache__/
/freechat/RuDialoGPT/
/reg_model/__pycache__/
/reg_model/Data/
/reg_model/loss_vizualization.html
/reg_model/train_stat_csv.csv
/reg_model/train_stat_excel.xlsx
/registrator/__pycache__/

